GridLayout {

    background-color:wheat;
}

ActionBar{
    background-color:skyblue;
}

Label.numero{
    color:darkblue;
    font-size: 18%;

}
Label.nivel{
    align-content: center; 

}
label{
    color: black;
}
